  <div id="app" class="row">
     <aside class="span4">
    <section>
       <table class="rank-table" border="1" cellspacing="0" cellpadding="2">
         <thead align="center" style="font-weight:bold;">
           <td>Rank</td>
           <td>Name</td>
           <td>Credit</td>
         </thead>
         <tbody>
         </tbody>
		</table>
    </section>
	<p>-------------------------------------</p>
	<p id="log"></p>
      </aside>
    <div id="welcome" class="span8" style="display:blank;">
      <br/><br/><br/>
      <center>
      <h3>Blackjack, be the richest man</h3>
      </center>
      <br/>
    </div>   
    <div id="desk" style="display:none;">
          <br/><br/><br/>
          <center><table>
              <tr id="mydesk">
              </tr>
          </table>
          <br/>
          <p>Total Point: <font id="totalPoint" color="red">0</font></p>
        </center>
    </div>
   <center> <p><font id="message" color="red"></font></p></center>
    <div id="buttons">
        <center>
                <input id="btn-start" type="button" value="Start Game" style="display:blank;"/>
                <input id="btn-draw" type="button" value="Draw a card" style="display:none;"/> <input id="btn-finish" type="button" value="I am done" style="display:none;"/>
        </center>
    </div>
  </div>
